/*������Ϣ*/
input.txt1{ padding:1px 2px; width:254px; background:#fff; height:26px; line-height:26px; border:1px solid #e6e6e6; vertical-align:middle; margin:0;}/* wxm 2014.3.27 edit */
.peomes_h2{ height:44px; line-height:44px; border-bottom:1px solid #e6e6e6; }/* wxm 2014.3.27 edit */
.peomes_h2 b, .peomes_h2 span , .peomes_h2 a{ float:left; font-weight:normal; font-size:12px;}
.peomes_h2 .s{_margin:14px 0 0 0}
.peomes_h2 b{ font-size:14px; font-weight:bold;}

.peomes_tab{ margin:5px 0 0 0px;  }
.peomes_tab tr td{ text-align:right;  vertical-align:middle; }
.peomes_tab tr td.td01 { text-align:right;vertical-align:top; }
.peomes_tab tr th{ padding:6px 0 6px 4px; text-align:left; }
.peomes_tab tr th.th2 { padding:0 0 4px 4px;}
.peomes_tab tr th input{  float:left; height:26px; border:1px solid #e6e6e; } /* wxm 2014.3.27 edit*/
.peomes_tab tr th input.rad{ height:12px; width:12px; margin:10px 0 0 0}
.peomes_tab thead tr td{ height:121px; margin-bottom:14px;}
.peomes_tab tbody tr th div{ padding:0; }
.peomes_tab tbody tr th div.no { padding:0;}
.peomes_tab tbody tr th  .a1{ margin:4px 0 0 10px}
.peomes_tab tfoot tr th select{ height:20px; float:left; margin: 1px 2px 0 0;}
.peomes_tab tr td b{ color:#fd1717; margin-right:7px}
.peomes_tab tbody tr th .pd1{ margin:3px 0 0 10px;}
.peomes_h2 .m2{ margin:10px 0 0 14px}

/* �̶�����֧��ҳ�� */
.mb10{ margin-bottom:10px}

.clear {clear: both; font-size: 1px; line-height: 1px;  overflow: hidden;}

a.orange_btn{ height:34px; width:118px; background:#f93; border:1px solid #fb883b; color:#fff; font-weight:bold; font-size:14px; display:block; line-height:34px; margin:10px auto 0; text-align:center;}
a.orange_btn:hover{ height:34px; width:118px; background:#ee8800; border:1px solid #dd6600; color:#cc6600; display:block;line-height:34px; margin:10px auto 0; text-align:center; }

.input_yz {border:1px solid #ccc; padding:2px 0; height:30px; width:80px; cursor:pointer; background-color:#eee; color:#757575;}
input.txt1.green{ border:1px solid #3c3;}
input.txt1.red{ border:1px solid #f00;}
.input2{ width:205px;}

/* ��֤��ʾ */
.cf_757575{ color:#757575;}
.grayTips{ color:#757575;}
.focus_text{ color:#3c3c3c;}

/* �л���ʽ wxm 2014.4.10 */
.tag03 dt{ padding-left:10px; height:28px; }
.tag03 dt a{ display:inline-block; float:left; cursor:pointer; border:1px solid #e8e8e8; width:92px; text-align:center; line-height:28px;margin-right:10px; font-size:14px; font-weight:bold; border-bottom:1px solid #ccc;}
.tag03 dt a:hover,.tag03 dt a:active{ text-decoration:none}
.tag03 dt a.on{ border:1px solid #cccccc;background:#fff; border-bottom:1px solid #fff;}

.account_dl dd{ border:1px solid #e6e6e6;}
.account_dl dd.no { border:none;}
.account_dl dt{ height:28px;}
.account_dl dt a{ height:27px; border:1px solid #e6e6e6; border-bottom:none; margin-right:10px; float:left; color:#757575;}
.account_dl dt a.on{border: 1px solid #e1e1e1;border-bottom: 1px solid #fff; color:#3c3c3c; background:#fff;position:relative}
.account_dl dt a:hover{ color:#757575}


/* �л���ʽ wxm 2014.4.28 */
.tag01 dt{ height:46px; }
.tag01 dt a{ display:inline-block; float:left; cursor:pointer; width:100px; text-align:center; line-height:46px;margin-right:10px; font-size:14px; background:url(../images/tag-bg2.gif) no-repeat 0 -46px;}
.tag01 dt a:hover,.tag01 dt a:active{ text-decoration:none}
.tag01 dt a.on{ background:url(../images/tag-bg2.gif) no-repeat; font-weight:600; color:#fff;}

.account_dl dd{ border:1px solid #e6e6e6;}
.account_dl dd.no { border:none;}
.account_dl dt{ height:28px;}
.account_dl dt a{ height:27px; border:1px solid #e6e6e6; border-bottom:none; margin-right:10px; float:left; color:#757575;}
.account_dl dt a.on{border: 1px solid #e1e1e1;border-bottom: 1px solid #fff; color:#3c3c3c; background:#fff;position:relative}
.account_dl dt a:hover{ color:#757575}


/* ��������ʽ */
.select_w83 {width:83px; border: 1px solid #E6E6E6; color:#3c3c3c; font-family: arial,"����"; height: 28px; overflow: hidden; padding: 3px;}

input.txt1.txt3 { width:114px;}

/* ��˾ͼƬ��ʽ */
.w120_img{ float:left; margin-right:20px;}
.w120_img i{width:120px; height:120px;display:table-cell; vertical-align:middle; text-align:center; *display:block; *font-size:120px; overflow:hidden;}
.w120_img i a{ display:block; width:120px;}
.w120_img i a img { width:expression(this.width>120&&this.width>this.height?120:true); height: expression(this.height>120?120:true); vertical-align:middle; max-width:120px; max-height:120px;}
.w120_img span { width:120px; padding-top:2px; line-height:16px; text-align:center; color:#757575; display:inline-block;}

/* ��Ա���Ĺ�������ʽ */
.gg-table{border:1px solid #e6e6e6; border-right:none;}
.gg-table th{background:url(../images/tag-bg.gif) repeat-x; height:29px; padding-top:5px; font-weight:bold;color:#333333;} 
.gg-table td{border-top:1px solid #e6e6e6; border-right:1px solid #e6e6e6; height:42px;text-align:center;}
.gg-table td.nor { border-right:none;}
.gg-table td.tdL { text-align:left; padding-left:10px;}

.m_textw58{width:40px; height:24px;line-height:24px;border:1px solid #e6e6e6;padding:0 4px;}

/* ��������ʽ */
.order_processBox{margin:0 auto;}
.order_processcon{border-top:1px solid #e1e1e1; padding-top:24px; background:#fbfbfb; height:106px;}
.order_processcon p{height:26px; width:820px;  margin:0 auto;}
.pb12{ padding-bottom:12px;}
.order-success{ padding:10px 0 30px; width:838px; border:1px solid #e6e6e6; zoom:1; overflow:hidden;margin: 0 auto}
.sucess_r h2{ font-size:14px; font-weight:bold; height:25px; line-height:25px;}
.sucess_r p{ line-height:28px;}

.img_hw100{width: 168px;height: 102px;display: table-cell;vertical-align: middle;*display:block; *font-size:102px;overflow: hidden;text-align: center; border:1px solid #fff;}
.img_hw100 a{ display: block;width: 168px; border:1px solid #fff;}
.img_hw100 a img{width: expression(this.width>168&&this.width>this.height?100:true);height: expression(this.height>100?100:true);vertical-align: middle;max-width: 168px;max-height: 100px;}

/* �ύ������Ϣѡ��������ʽ */
.produ_div{ height:44px; line-height:44px; border-bottom:1px solid #e6e6e6; color:#4D4D4D; font-size:14px; font-weight:bold; padding-left:14px; background:url(../images/zxh_icoli.gif) no-repeat 11px center;}
.produ_div a{ margin-left:8px}
.con_div{ padding-bottom:15px; border:1px solid #e6e6e6; background:#fff; margin:10px 0}
.con_div p{ color:#666;}
.con_div ul{ overflow:hidden; zoom:1}
.con_div ul li{ width:230px; height:344px; float:left; display:inline; margin:10px 0px 0 15px; overflow:hidden}
.con_div ul li a{ line-height:22px; padding:0 5px; height:45px; overflow:hidden; display:block; margin-top:5px;}
.con_div ul li span, .con_div ul li p{  height:20px; overflow:hidden; padding:0 5px; display:block; color:#757575}
.con_div ul li span{ text-decoration:line-through; }
.con_div ul li b{ color:#ff6600; padding:0 5px;}

/*����*/
.calc_com{ margin:10px auto 0 auto; width:838px;}
.con_calcdiv{ height:34px; padding:0 0 0 23px; line-height:34px; background:#f1f1f1; color:#3c3c3c; font-weight:100; font-size:12px;}
.con_calcdiv b{ margin-right:15px; font-weight:600;}
.calc_list{ overflow:hidden; zoom:1; padding-left:18px}
.con_div .calc_list li{ height:44px; width:215px; float:left; margin-left:15px; display:inline;}
.calc_list li input{ vertical-align:middle; margin-right:15px}
.calc_list li a{ text-align:center; color:#3c3c3c}
.con_div .pes_calc li{ width:225px; padding:23px 0px 23px 15px; margin:0 }
.sucess_r p.hui_78{ color:#757575}
a.pay_but{ text-align:center; color:#fff; padding:10px 35px; font-size:16px; margin-top:26px}

.zdd_height .new_addbut, .con_div ul li a.new_addbut, .priceCount p a.new_addbut, .new_addbut, .wait div .new_addbut{ padding:5px 10px; border:1px solid #fb883b; background:#ff9933; display:inline-block; font-size:14px; font-weight:bold; color:#fff; height:auto}
.zdd_height .new_addbut:hover, .con_div ul li a.new_addbut:hover, .priceCount p a.new_addbut:hover, .new_addbut:hover, .wait div .new_addbut:hover{ background:#ee8800; border:1px solid #dd6600; color:#cc6600; text-decoration:none; }

.calc_list li a.click_a{ background:url(../images/a_down.gif) no-repeat center bottom; display:inline; padding-bottom:10px; margin-left:70px}
.calc_list li a.click_cur{background:url(../images/a_up.gif) no-repeat center bottom;}

a.ne_marz{ padding:8px 26px; font-size:16px; color:#fff; margin-top:25px}

/* ������鵯�� */
table{ border-collapse:collapse;}

.order_pop{background:#e8e8e8;behavior:url(../js/pie.htc);-webkit-box-shadow:0 2px 8px 4px #cfcfcf;-webkit-box-shadow:0 2px 8px 4px #cfcfcf;
box-shadow:0 2px 8px 4px #cfcfcf; margin:0 auto; overflow:hidden;zoom:1;}
.w470{ width:450px; padding:0 10px 0;}
.order_pop_tit{ height:44px; line-height:44px;}
.order_pop_tit span{ color:#000; font-size:14px; font-weight:bold;}
.order_pop_tit a{ height:21px; width:21px; float:right; background:url(../images/order_closebtn.png) no-repeat; margin-top:10px;}
.order_pop_tit a:hover{ background-position:0 bottom;}
.order_popcon{ padding:10px; border:1px solid #cecece; background:#fff;}
.order_popcon td{ padding-top:10px;}
.order_popcon td span{ margin-right:18px; float:left;}

.w580{ width:560px; padding:0 10px 10px;}
.w455{ padding:0 10px 10px 10px; width:455px;}

.nei_box{ width:275px; margin:0 0 0 73px; padding:27px 0 21px 0}
.nei_box p{ color:#000; line-height:24px; overflow:hidden; zoom:1}
.nei_box p b{ font-weight:bold}
.nei_box p a{ display:inline;}
a.calc_but{ color:#fff; font-size:16px; padding:6px 18px; }
a.hui_butcon{ background:#eaeaea; border:1px solid #ddd; color:#757575}
a.hui_butcon:hover{ background:#e1e1e1; border:1px solid #d4d4d4; color:#999999}

a.blue_btn_h28{ height:28px; width:78px; line-height:28px; background:#51b7ec; border:1px solid #3bade5; color:#fff;font-size:14px; font-weight:bold;text-align:center;}
a.blue_btn_h28:hover{ height:28px; width:78px;line-height:28px; background:#2facdf; border:1px solid #3399cc; color:#0088bb;font-size:14px; font-weight:bold;text-align:center; text-decoration:none;}
a.cancel_btn_h28{height:28px; width:78px; line-height:28px; background:#fff; border:1px solid #fff; color:#757575;font-size:14px; font-weight:bold;text-align:center;}
a.cancel_btn_h28:hover{height:28px; width:78px; line-height:28px; background:#fff; border:1px solid #e1e1e1; color:#3c3c3c;font-size:14px; font-weight:bold;text-align:center;  text-decoration:none;}

.price_table{ border:1px solid #ccc; background:#fff;}
.price_table th{ height:34px; border-bottom:1px solid #ccc; background:url(../images/pop_titlebj.jpg) repeat-x; font-weight:bold; vertical-align:middle}

/* ��ɫͨ�ð�ť */
.search_bj{ line-height:24px;  padding-left:12px; background:url(../images/search_bj.jpg) no-repeat left 0; text-align:center;}
.search_bj em{ height:24px;line-height:24px; background:url(../images/search_bj.jpg) no-repeat right 0; padding-right:12px; display:block;}
.search_bj:hover{background:url(../images/search_hbj.jpg) left 0; text-decoration:none;}
.search_bj:hover em{background:url(../images/search_hbj.jpg) right 0; color:#3c3c3c;}

/* ���������ҳ������ʽ */
.search_kuang { background:#f6f6f6; padding:20px 120px; zoom:1; overflow:hidden; text-align:center;}
.search_kuang h3 { font:100 22px/36px "΢���ź�"; color:#f60; }

.searchCon{position:relative;width:602px;height:42px;background:url(../images/search_bg.jpg);}
.searchCon .searchTxt{width:514px;padding:2px 3px 6px;height:34px;line-height:34px;background:none;border:none;font-size:12px;color:#b3b3b3;float:left;}
.searchCon .searchBtn{width:80px;height:42px;background:none;text-indent:none;border:none;float:left;text-indent:-99999px;overflow:hidden;cursor:pointer;}

.cyl .tit { border:1px solid #e6e6e6; border-bottom:none; height:42px; line-height:42px; background:url(../images/line_bg2.gif) no-repeat 10px -33px; padding-left:26px; border-bottom:1px solid #e6e6e6;}
.cyl .tit b { float:left; font-weight:600;}
.yh-table2{border:1px solid #e6e6e6;padding-top:1px;}
.yh-table2 th{background:url(../images/tag-bg3.gif) repeat-x; height:29px; padding-top:5px; border-bottom:1px solid #e6e6e6; border-top:1px solid #fff;} 
.yh-table2 td{border:1px solid #e6e6e6;height:33px;text-align:center;}
.yh-table2 td.tdL { text-align:left;}
.yh-table2 tr { border-bottom:1px solid #e6e6e6;}
.no-border td{border:none;}

.h2{ line-height:28px; background:url(../images/line_bg2.gif) no-repeat 0 -38px; padding-left:16px;font-size:14px;border-bottom:2px solid #e1e1e1;height:28px;padding-bottom:6px;}
.h2 span{border-bottom:2px solid #455e76;height:28px;padding-bottom:6px;display:inline-block;}

/* �ͷ����� */
.kf_tel { height:80px; font:100 22px/80px "΢���ź�"; margin:0 auto; text-align:center;}
.kf_tel em { color:#f60;}

/* ��ҳ������λ */
.dgdw { position:absolute; right:10px; top:10px;}
.question { padding:10px 20px; border:1px solid #e6e6e6; zoom:1; overflow:hidden;}
.question h3 { height:44px; font:600 14px/44px "";}
.question .daan { background:#f5f5f5; border:1px solid #e0e0e0; padding:15px 20px; font:100 14px/30px "";}
.pb10{ padding-bottom:10px;}
.pr10{ padding-right:10px;}
