@charset "utf-8";
/* CSS Document */

.font14{ font-size:14px !important;}
.mt32{ margin-top:32px !important;}
.mt12{ margin-top:12px !important;}
.border-no{ border:none !important;}
/*---------------------找回密码-----------------*/
/* 输入账户名主体-表达部分 */
.w250{ width:250px !important;}
.w140{ width:140px !important;}
.w170{ width:170px !important;}
.Zh-body-input-box-wrap .Zh-body-input-box span,.Zh-body .Zh-step-next{ text-align: center;}
.Zh-body { margin: 0 auto; padding-left: 285px; padding-bottom: 40px; width: 800px; font-family: "Microsoft Yahei", "Hiragino Sans GB"; }
.Zh-body-input-box-wrap { height: 54px; margin-bottom: 32px; }
.Zh-body-input-box-wrap .Zh-body-input-box { float: left; width: 398px; height: 52px; border-width: 1px; border-style: solid; border-color: #e6e6e6; }
.Zh-body-input-box-wrap .Zh-body-input-box .Cannot-edit{ font-size:14px; line-height:52px; color:#f60;}
.Zh-body-input-box-wrap .Zh-body-input-box.Zh-body-input-box-read { color: #555555; background-color: #f8f8f8; }
.Zh-body-input-box-wrap .Zh-body-input-box.Zh-error { border-width: 1px; border-style: solid; border-color: #f00; }
.Zh-body-input-box-wrap .Zh-body-input-box span { float: left; width: 110px; height: 52px; line-height: 52px; font-size: 14px; color: #555555; }
.Zh-body-input-box-wrap .Zh-body-input-box input { width: 288px; height: 52px; font-size: 14px; line-height: 16px; color: #333; float: left; }
.Zh-body-input-box-wrap .Zh-body-input-box h3 { float: left; width: 160px; height: 52px; font-weight: normal; line-height: 52px; }
.Zh-body-input-box-wrap .Zh-body-input-box .Zh-test { margin: 3px 3px 0 0; float: right; width: 110px; height: 46px; vertical-align: top; }
.Zh-body-input-box-wrap .Zh-body-input-box .Zh-test img { width: 110px; height: 46px; }
.Zh-body-input-box-wrap .Zh-body-input-box .Zh-test.Zh-test-text { background-color: #f2f2f2; line-height: 46px; font-size: 14px; color: #555555; }
.Zh-body-input-box-wrap .Zh-body-input-box .Zh-safe { margin: 20px 9px 0 0; float: right; width: 141px; height: 14px; }
.Zh-body-input-box-wrap .Zh-body-input-box .Zh-safe.Zh-safe01 { background: url(../images/sprite.png) no-repeat 0 -280px; }
.Zh-body-input-box-wrap .Zh-body-input-box .Zh-safe.Zh-safe02 { background: url(../images/sprite.png) no-repeat 0 -299px; }
.Zh-body-input-box-wrap .Zh-body-input-box .Zh-safe.Zh-safe03 { background: url(../images/sprite.png) no-repeat 0 -319px; }
.Zh-body-input-box-wrap .Zh-body-error { margin-left: 10px; float: left; }
.Zh-body-input-box-wrap .Zh-body-error i { float: left; width: 14px; height: 18px; }
.Zh-body-input-box-wrap .Zh-body-error i.i01 { margin: 19px 10px 0 0; background: url(../images/sprite.png) 0 -68px; }
.Zh-body-input-box-wrap .Zh-body-error i.i02 { margin: 19px 10px 0 0; background: url(../images/sprite.png) 0 -108px; }
.Zh-body-input-box-wrap .Zh-body-error i.i03 { margin: 19px 10px 0 0; background: url(../images/sprite.png) 0 -86px; }
.Zh-body-input-box-wrap .Zh-body-error span { line-height: 54px; font-size: 14px; float: left; }
.Zh-body-input-box-wrap .Zh-body-error span.color01 { color: #ff0000; }
.Zh-body-input-box-wrap .Zh-body-error span.color02 { color: #999999; }
.Zh-body label { font-size: 14px; color: #555555; }
.Zh-body label span { color: #ff6600; }
.Zh-body .Zh-step-next { margin-top: 32px; width: 400px; height: 52px; font-size: 22px; color: #ffffff; line-height: 52px; background-color: #ff6600; cursor: pointer; }
/*选择找回方式*/
.Zh-WayBack-box{padding-left: 70px;width: 928px; }
.Zh-WayBack-box h3{ font-size:18px; color:#333; font-weight:normal; line-height:74px; text-align: left}
.clearfixHide {display: none;}
.Zh-WayBack-ul li{ width:818px; min-height:58px; border:1px solid #e6e6e6; padding:20px;}
.Zh-WayBack-ul li:hover{ border:1px solid #f9dfb2; background:#ffffe0;}
.Zh-WayBack-ul li .Zh-WayBack-img{ margin-left:30px; display:inline-block; float:left; width:40px; height:40px; background:url(../images/sprite.png); }
.Zh-WayBack-ul li .Zh-WayBack-SMS-img{background-position:-210px -325px; margin-top:9px;}
/*.Zh-WayBack-ul li:hover .Zh-WayBack-SMS-img{background-position:-210px -325px;}*/
.Zh-WayBack-ul li .Zh-WayBack-mail-img{background-position:-254px -325px; margin-top:9px;}
/*.Zh-WayBack-ul li:hover .Zh-WayBack-mail-img{background-position:-254px -325px;}*/
.Zh-WayBack-ul li .Zh-WayBack-Security-img{background-position:-302px -325px; margin-top:9px;}
/*.Zh-WayBack-ul li:hover .Zh-WayBack-Security-img{background-position:-302px -325px;}*/
.Zh-WayBack-ul li .Zh-WayBack-service-img{background-position:-344px -325px; margin-top:9px;}
/*.Zh-WayBack-ul li:hover .Zh-WayBack-service-img{background-position:-344px -325px;}*/
.Zh-WayBack-ul li .Zh-WayBack-text{ display:inline-block; margin-left:26px; width:560px;}
.Zh-WayBack-ul li .Zh-WayBack-text .Zh-WayBack-text01{ font-size:18px; line-height:32px;}
.Zh-WayBack-ul li .Zh-WayBack-text .Zh-WayBack-text02{ font-size:14px; line-height:24px; color:#999;}
.h-new_addbut { background: none repeat scroll 0 0 #ff9933; border: 1px solid #fb883b; color: #fff; display: inline-block; font-size: 16px; height:34px; line-height:32px; padding:0 30px;}
.h-new_addbut:hover {text-decoration:none; color:#f60}
.Zh-body-prompt{ width:858px; height:28px; line-height:28px; color:#cc6600; text-align:center; background:#ffffe0; border:1px solid #f9dfb2; margin-top:20px;}
.Zh-verification-btn{ float:left; width: 138px; height: 54px; font-size: 22px; color: #ffffff; line-height: 54px; background-color: #ff0000; cursor: pointer; text-align:center; margin-left:10px;}

/*修改成功*/
.Zh-changed-box{padding-left: 198px;width: 800px;}
.Zh-changed-img{ float:left; width:48px; height:48px; background:url(../images/sprite.png) -30px -70px; margin-top:15px;}
.Zh-changed-text{ float:left; margin-left:30px;}
.Zh-changed-text p{ font-size:20px; line-height:40px;}