body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, code, form, input, button, fieldset, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
body{background-color:#ffffff; font-size:12px;}
table { border-collapse: collapse; border-spacing: 0;font-size:12px; }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
ol, ul { list-style: none }
del, ins { text-decoration: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
input, button, textarea, select { font-size: 100% }
q:before, q:after { content: '' }
addr, acronym { border: 0; font-variant: normal }
sup, sub { vertical-align: baseline }
.none{ text-decoration:none}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix { display: inline-block; }
.clearfix{ height:1%;}
.clearfix { display: block; }.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/*FONT
-------------------------------------------------------------- */
body {font:12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; color:#3333333; text-align:center; background:#fefefe}
a.blue{ color:#0033cc!important;}
/*FOOT
-------------------------------------------------------------- */
.bord{ width:100%; height:auto; border-top:1px solid #cccccc; background:#eee}
.bord .copyright {  margin:10px auto 0!important;}
.foot_cont {width: 950px; height: auto; margin: 0 auto; overflow: hidden;}

.copyright{background:#f0f0f0 url(../../images/memberunlogin/copyright.jpg) repeat-x;border-top:1px solid #dfdfdf;padding-bottom:20px;margin-top:10px;}
.copy1{width:1000px;text-align:center;height:32px;line-height:32px;margin:0 auto;color:#cbcbcb;}
.copy1 a{padding:0 25px;color:#444;text-decoration:none;}
.copyright p{text-align:center;padding:10px 0;}
.copyright p a{padding:0 3px;}
.copyright p span{font-family:Arial;}
.copyrightPic{width:950px;margin:0 auto;height:auto;padding-left:50px;}
.copyrightPic a{padding:0 15px;}
/*HEAD
-------------------------------------------------------------- */
.message{ width:800px; overflow:hidden; text-align:center; margin:0 auto; border:1px solid #eee; overflow:hidden}
.message .head01{ width:800px; padding:5px; text-align:center; margin:0 auto;  font-size:12px; overflow:hidden; position:relative; border-bottom:1px solid #cdcdcd; }
.message dl{ width:677px; margin:40px auto 30px; padding:0; text-align:left}
.message dt{ color:#ff6600; margin:0 0 40px}
.message dd{ color:#757575; line-height:28px; padding:0 0 10px 40px; }
.message dd b{ padding:2px; border:#cccccc 1px solid; color:#ff6600}
.message .p_div{ width:760px; padding:20px; background:#eeeeee; overflow:hidden}
.message .p_div p{ padding:0 0 0 40px; text-align:left;line-height:24px;}
.message .p_div p i{ font-style:normal; color:#ff6600; }
.message .p_div p a{ text-decoration:none}
.message .p_div p a:hover{ text-decoration:underline}
.head01 span{ display:block; position:absolute; color:#044885; font-size:12px; left:168px; top:48px;}
.head01{ width:790px; padding:5px; text-align:center; margin:0 auto;  font-size:12px; overflow:hidden; position:relative }
.head01 .logo{ width:137px; height:37x; float:left; margin:20px 16px 0 0;}
.head01 .txt{ width:183px; height:33px; float:left; margin:24px 0 0;}
.head01 p{ width:248px; overflow:hidden; float:right; margin:30px 0 0; white-space:nowrap; overflow:hidden }
.head01 p a img{ margin:0 6px 0 6px}
.head01 p a{ display:inline-block; height:28px; text-decoration:none;color:#757575; font-size:18px; background:url(../../images/memberunlogin/line.gif) right 5px no-repeat; padding:4px 8px 4px 4px; margin:0}
.head01 p a:hover{ color:#CC6600;}


.area{ width:990px; padding:5px; text-align:center; margin:0 auto;  font-size:12px; overflow:hidden;}
.head_white, .head{ width:990px; padding:5px; text-align:center; margin:0 auto;  font-size:12px; overflow:hidden; position:relative }
.head_white{ background:#fff; position:relative}
.head_white .logo, .head .logo{ width:216px; height:58px; float:left; margin:16px 16px 0 0;}
.head_white .txt, .head .txt{ width:117px; height:42px; float:left; margin:24px 0 0;}
.head p{ width:248px; overflow:hidden; float:right; margin:30px 0 0; white-space:nowrap; overflow:hidden }
.head p a img{ margin:0 6px 0 6px}
.head p a{ display:inline-block; height:28px; text-decoration:none;color:#757575; font-size:18px; background:url(../../images/memberunlogin/line.gif) right 5px no-repeat; padding:4px 8px 4px 4px; margin:0}
.head p a:hover{ color:#CC6600;}
.head_white p{ width:166px; overflow:hidden; float:right; margin:30px 0 0; line-height:20px;}
.head_white p a{ text-decoration:none;color:#757575; }
.head_white p a:hover{ color:#CC6600;}
.head_white em{ font-style:normal; color:#e70000}
.head span{ display:block; position:absolute; color:#044885; font-size:12px; right:5px; top:66px;}
.head_auto{ width:100%; height:97px; background:#fff; border-bottom:1px solid #e7e7e7}
/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.con_div{ width:1000px; overflow:hidden; margin:0 auto; padding:20px 0; text-align:center}
.con_left{ width:250px; margin:0; padding:0; float:left; display:inline;}
.con_left ul{ position:relative; margin:5px 0 0;_margin:15px 0 0; }
.con_left ul li{width:250px; height:44px; line-height:44px; background:url(../../images/memberunlogin/tab_bg.png) left bottom no-repeat;font-size:14px; text-align:center; font-weight:bold;  margin:0 0 10px;color:#333;position:relative;z-index:9; right:-1px; _right:-2px;}
.con_left ul li img{ position:relative; top:3px}
.con_left ul li.on{ width:250px; height:44px; line-height:44px; background:url(../../images/memberunlogin/tab_bg.png) left top no-repeat; list-style:none; font-size:14px; text-align:center; font-weight:bold; color:#333; position:relative;z-index:9; right:-1px; _right:-3px}
.con_left ul li a.company { background:url(../../images/memberunlogin/home.png) left top no-repeat; vertical-align:middle; padding-left:22px;}
.con_left ul li a.person { background:url(../../images/memberunlogin/peo.png) left top no-repeat; vertical-align:middle; padding-left:22px;}
.con_left ul li.on a.company{ background:url(../../images/memberunlogin/home.png) left bottom no-repeat; vertical-align:middle; padding-left:22px;}
.con_left ul li.on a.person { background:url(../../images/memberunlogin/peo.png) left bottom no-repeat; vertical-align:middle; padding-left:22px;}
.con_left ul li a{ text-decoration:none;}

.img_div{ }
.img_div img{ padding:5px; border:1px solid #e6e6e6; display:block; margin:0 0 10px; _margin-right:6px;}
.con_left ul li{ cursor:pointer}
.con_right{ width:750px; margin:0;  padding:0; float:left; display:inline;}
.box_bot{width:750px; height:10px; background:url(../../images/memberunlogin/box_bot.jpg) center top no-repeat; padding:0; margin:0 0 8px }
.box_top{width:750px; height:8px;  background:url(../../images/memberunlogin/box_top.jpg) center top no-repeat; padding:0; margin:0;_position:relative; _top:6px  }
.box{ width:750px; background:url(../../images/memberunlogin/bg_repe.jpg) repeat-y; border-top:none; border-bottom:none; padding-bottom:20px}
.con_right .arrow{ width:730px; margin:0 auto; padding:0; background:url(../../images/memberunlogin/arrow_bg.png) left top no-repeat; overflow:hidden}
.con_right .t2{background:url(../../images/memberunlogin/arrow_bg.png) left -97px no-repeat;}
.con_right .t3{background:url(../../images/memberunlogin/arrow_bg.png) left bottom no-repeat;}
.tab2{ height:auto!important; overflow:hidden; background:#fff!important;}
.tab2 dt{ display:block; height:33px; line-height:32px;}
.tab2 dt label{ display:inline-block; width:106px; text-align:center; background:url(../../images/memberunlogin/tab_bg2.png) right top no-repeat; position:relative; top:2px; cursor:pointer}
.tab2 dt label.on{ background:url(../../images/memberunlogin/tab_bg2.png) left top no-repeat;}
.tab2 .box1{ width:368px; border:1px solid #ccc; padding:10px 10px 20px;}
.tab2 .box1 i{ display:block; float:left; width:80px; text-align:right; line-height:24px; color:#333; font-style:normal}
.tab2 .box1 i.w60 { width:70px;}
.tab2 .box1 i b{ color:#fd1717;}
.tab2 .box1 p{ padding:2px 0; height:32px}
.con_right .arrow ul li{ width:240px; height:35px; line-height:34px; float:left; display:inline; list-style:none; color:#333;}
.con_right .arrow ul li.on{ color:#fff}
_mes{ width:730px; margin:10px auto 0 }
_tit{ height:36px;background:#e8e8e8; margin-top:1px; padding:0 0 0 20px}
_tit a{ float:right;  margin-top:5px; display:block; text-align:center; width:50px}
_tit .on{ background:#fff; border:1px solid #ccc; border-bottom:medium none; height:25px; color:#044985}
_tit span{ line-height:29px; font-weight:bold}
.t_3{
	width:600px;
	padding:0;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
.t_3 p{  line-height:50px; color:#333333; font-size:12px;}
.t_3 p a{ color:#0b51ee;line-height:50px}
.t_3 p img{ position:relative; top:8px; margin:0 10px 0 0}
.t_3 p a:hover{ text-decoration:underline; }
.t_3 p i{ color:#ff6600; font-style:normal}
.t_3 table{ margin:0 auto; width:488px}
.t_3 table img{ width:231px; height:59px; display:block; padding:4px}
.table-address{border:1px solid #ccc;padding:10px;margin:10px;}
.table-address li{padding:5px 0;line-height:22px;}
.addbg{background:#ffe5cc;}
.buy_tit { width:718px; margin:20px auto 0; text-align:left; background: none repeat scroll 0 0 #E8E8E8;height: 36px;padding: 0 0 0 10px; line-height:36px;}
/*弹窗内容样式*/
.table-address.no { border:none; text-align:center;}
/*.table-address.no li{padding:10px 0;height:22px;line-height:22px;}*/
.table-address.no li{padding:4px 0;}

.peomes_h2{ height:44px; line-height:44px; }
.peomes_h2 b, .peomes_h2 span , .peomes_h2 a{ float:left; font-weight:normal; font-size:12px;}
.peomes_h2 .s{_margin:14px 0 0 0}
.peomes_h2 b{ font-size:14px; font-weight:bold;}
.mar_span{ margin-left:28px;}
.peomes_h2 .m2{ margin:10px 0 0 14px}
.m_no{ margin-top:0px}
.peomes_tab tr th div {
	/*background: none repeat scroll 0 0 #EEEEEE;
	height: 30px;
	padding: 0;
	margin:10 10px 0 0*/
}
/* wxm 5.13 */
.table-address li label { text-align:right; display:inline-block;}
.table-address li label.w65 { width:65px;}
.table-address li label.w85 { width:85px;}
.findType{width:90px;vertical-align:middle;}
.tck_panelWarn{width:265px;height:40px;background:#fdf1db;color:#888;display:inline-block;padding:3px 5px 5px;}
.font_blue{color:#0921db;}

/* 弹出框灰色的字 */
.tcc { width:310px; margin:15px auto 10px; color:#999;}
.tcc label.w40 { width:40px; display:inline-block; vertical-align:top}
.tcc span { display:inline-block; width:270px;}
em.w260 { width:260px; display:inline-block;}
.notice i { display:inline-block; width:48px; height:48px; vertical-align:top}

/*shx 5.14*/
.tck_slt_width{width:206px;}
.changePsd_tck{padding-left:80px;}
.changePsd_tck li{width:100%;display:inline-block}
.table-address li.tck_mbwtWarn{padding:0;}

/* 错误提示信息 */
i.error { background:url(../../images/memberunlogin/Error.png) no-repeat; vertical-align:middle; width:12px; height:12px; display:inline-block; margin-right:2px;}

/*个人信息*/
input.txt1{ padding:1px 2px; background:#fff; height:26px; line-height:26px; border:1px solid #ccc; color:#333; vertical-align:middle; margin:0;}
.peomes_h2{ height:44px; line-height:44px; }
.peomes_h2 b, .peomes_h2 span , .peomes_h2 a{ float:left; font-weight:normal; font-size:12px;}
.peomes_h2 .s{_margin:14px 0 0 0}
.peomes_h2 b{ font-size:14px; font-weight:bold;}
.mar_span{ margin-left:28px;}
.m_no{ margin-top:0px}
.pad_no{ padding-right:0px;}
.pad_no .a_s{ color:#044985; background:url(../../images/jt_spr.gif) no-repeat left 6px; padding:0; display:inline; height:15px; text-indent:8px; float:right;}
.pad_no .a_x{ background:url(../../images/jt_spr.gif) no-repeat left -13px;text-indent:8px; }
#S_Cont_10 a.tiao{ float:right; margin:5px 0 0 }
.peomes_tab{ margin:10px 0 0 0px;  }
.peomes_tab tr td{ text-align:right;  vertical-align:middle; }
.peomes_tab tr th{ padding:0px 0 14px 0; }
.peomes_tab tr th img{ float:left; margin-bottom:14px}
.peomes_tab tr th input{  float:left; height:26px; border:1px solid #ccc; float:left;}
.peomes_tab tr th input.rad{ height:12px; width:12px; vertical-align:middle; float:none; margin:0 3px 0 5px;}
.peomes_tab tr th input.rad1{ margin-left:23px}
.peomes_tab tr th input.rad1{ margin-left:23px}
.peomes_tab thead tr td{ height:121px; margin-bottom:14px;}
.peomes_tab tbody tr th div.no { padding:0;}
.peomes_tab tr td span{ display:block; height:30px; padding-top:-20px}

.inpt_div{ color:#333; font-size:14px; margin:20px auto 10px; text-align:center; padding:0 0 0 20px}
.inpt_div i{ color:#FD1717; margin-right:3px; font-style:normal}
.box3{ color:#535353; text-align:center; border:1px solid #cccccc; margin:0 auto 10px}
.box3 td{ text-align:left; padding:5px 10px}
.box3 td label{ display:inline-block; width:70px; text-align:right}
.box3 i{ font-style:normal; color:#0033cc;}
.box3 b{font-weight:normal}
.box3 td.ww160{ width:160px; text-align:left}
.box3 td.ww86{ width:86px}
#wBox .wBox_body p{line-height:24px;padding:10px 0 0 123px}
.wj_div {}
.wj_div tbody tr th a.wj_cl{ float:none; padding:0; margin:0; height:auto; color:#0033cc;}
.wj_div p label{ padding:0 0 0 155px}
.wj_div p label a:hover{}
.img_r{ float:left; display:inline; padding-top:46px; margin:0 0 0 16px}
.img_r p{ color:#ccc; text-align:left;}
.img_r p a, .peomes_tab tbody tr th a{float:left; font-weight:normal; font-size:12px; margin:8px 8px 0 0; }
.input1{ width:280px;}
.span1{ color:#fd1717; float:left; margin:0 0 0 9px; display:inline; height:28px; line-height:28px}
.strong1{ float:left; vertical-align:middle; margin:8px 0 0 5px; font-weight:normal;}
.input2{ width:205px;}
.peomes_tab tbody tr th  .a1{ margin:4px 0 0 10px}
.input3{ width:39px;}
.input4{ width:52px;}
.input5{ width:113px;}

.peomes_tab tbody tr th i{ margin:0 5px 0 5px; float:left; color:#ccc; line-height:30px}
.peomes_tab tfoot tr th select{ height:20px; float:left; margin: 1px 2px 0 0;}
.peomes_tab tr td b{ color:#fd1717; margin-right:7px}
.w44{ width:44px; overflow:hidden;}
.s1{ padding-right:9px}
.s2{ padding-right:1px}
.s3{ padding-right:3px}
.but_x .save_but{ display:block; background:url(../../images/save_but.gif) no-repeat; width:74px; height:28px; text-align:center; font-weight:bold; font-size:14px; color:#fff; line-height:28px;} 
.but_x{ height:28px;margin:15px 0 27px 145px}
.peomes_tab .pd1{ margin:3px 0 0 10px;}
.peomes_h2 .m2{ margin:10px 0 0 14px}
.position {
    position: relative;
}
a {
    outline: medium none;
}
a:link, a:visited {
    color: #333333;
    text-decoration: none;
}
a:hover, a:active {
    color: #044985;
    text-decoration: underline;
}

/*企业信息*/

.con_div p{ color:#666;}
.con_div .red_p{ color:#fd1717; margin:15px 0 15px 0}
.p_hei{ height:30px; margin-bottom:14px }
.p_hei input{border:1px solid #ccc; height:26px}
.p_hei input, .p_hei span, .p_hei b{ float:left;}
.p_hei b{ color:#044985}
.in75{ width:75px; margin:0 8px 0 0; display:inline; padding: 1px 2px;}
.in415{ width:415px;}
.sp1{ width:265px; float:left; line-height:15px; margin-left:4px; display:inline; text-align:left;}
.peomes_tab tbody tr th a.acol{ color:#0033cc; margin:0}
.w410{ width:410px; text-align:left; color:#666; float:left}
.sp2{ float:left; line-height:28px; margin-left:4px; display:inline;color:#666;}
.peomes_tab tr th  .c1{ height:14px; margin:9px 0 0 7px; }
.se1{ width:178px; float:left;}
.peomes_tab tr .w155{ width:155px}
.te1{ width:460px; height:127px; float:left;}
.peomes_tab tfoot tr th{}
.peomes_tab tfoot tr th .img_r{ float:left; display:inline; padding-top:46px; margin:0 0 0 16px}
.peomes_tab tfoot tr th .img_r p{ color:#ccc; text-align:left;}
.peomes_tab tfoot tr th .img_r p a{float:left; font-weight:normal; font-size:12px; margin:8px 8px 0 0; }
.tp{ float:left; margin:115px 0 0 5px}
.tp b{ color:#fd1717}
.fl_z{ float:left; line-height:28px; margin:0 5px; display:inline;}
.tan_i{ height:50px; border:1px solid #ccc;padding:10px 0 0 210px; margin:0 0 14px 0; background:#FFE5CC; }
.tan_i p{width:450px; margin:0 auto;}

.tan_i div, .tan_i img{ float:left}
.tan_i img{ margin-right:10px}
.tan_i .p_st{ font-weight:bold;}
.peomes_tab tfoot tr th .s2{ margin:5px 0 0 10px; width:100px; }
.m3{ margin:3px 0 0 10px; float:left; display:inline;}
.no1{ margin-top:15px}
.w435{  margin:0 0 14px 86px; overflow:hidden;}
.ml135 .wid_a{ display:block; height:24px; width:100px}
.w435 p, .w435 .hdiv{ height:30px; margin-bottom:14px;}
.w435 p, .w435 .hdiv .divpad{ padding:0px; top:29px; text-align:left; text-align:left;}
.w435 .hdiv .mr5{ margin:0 5px}

.w435 p span, .w435 p input , .w435 p select{ float:left; text-align:left;}
.w435 .hdiv span, .w435 .hdiv input{ float:left;}
.w435 p .w_pan{ width:100px}
.w435 p span.lin_sp{ line-height:24px; padding-top:0px}
/**/
.w435 .hdiv .span_60{ line-height:28px; width:61px;}
.w435 p input, .w435 .hdiv input{ height:26px; border:1px solid #ccc; margin:0 5px 0 0; text-align:left;}
.w435 p span, .w435 .hdiv span{ line-height:28px;}
.w435 .hdiv .w221{ width:221px;}
.w435 p input.w55{ width:55px;}
.w435 p input.w185{ width:180px; display:inline}
.w435 p input.w100{ width:100px;}
.wz_box{}
.wz_box div, .wz_box a{ float:left;}
.wz_box div{ border:1px solid #c4c4c4; height:60px; width:60px;}
.m4{ margin:70px 0 0 10px;}
.w435 p a{ float:left; color:#044985; margin-left:60px; display:inline;}
_tit span{ float:left}
.peomes_tab tr td .btnGray2 span{ height:16px; }
.mb10{ margin-bottom:10px}
.peomes_tab  tr th a.nom{ margin:0;}
.peomes_tab  tr th div.nodiv{ background:#fff; padding:0 0 0 5px; height:auto; z-index:999}
.peomes_tab  tr th div.nobg{ background:#fff;}
.peomes_tab tr th div.z_w80{ width:80px; top:29px; left:0}
.peomes_tab tr th div.z_w80 ul{ width:75px; float:left; text-align:left;}
.peomes_tab  tr th div.nopad{ padding:0;}
.z_w80{ width:80px;}
.a_div{ display:none; position:relative; padding:0 32px 0 0;}
.t_box{ position:absolute; width:360px; border:1px solid #ccc; padding:5px; z-index:22222px; top:25px; background:#fff; left:35px; display:none; z-index:2222}
.t_box li{ width:110px; float:left; margin-left:10px; display:inline;text-align:left;}
.t_box li a{padding-left:10px;}
.peomes_tab tr th .t_box input{ height:22px}
#show22{ }
.w435 .hdiv .z_nom, .w435 .hdiv .nom{ margin:0;}

/*个人信息弹框样式*/
.list_line{height:25px; margin-bottom:18px}
.ne_span{ width:135px; display:block; line-height:24px;}
.list_line span, .list_line input, .list_line a, .list_line b , .list_line strong{ float:left;}
.list_line strong, .list_line b{ font-weight:normal; line-height:25px}
.list_line .b_m{ margin-left:15px}
.list_line  .w_128{ width:173px}

.list_line span{ text-align:right;}
.list_line input{ height:21px; border:1px solid #ccc; padding:1px 2px; margin-right:10px; display:inline;}
.ws_80{ width:80px;}
.no1{display:block; text-align:center;}
.pw_z{ line-height:22px; width:355px; text-align:left; margin:0 auto;}
.pw_z a{ color:#044985}

/*shx账户管理 5-13*/
.yh-h2 span{font-weight:normal;font-size:12px;}
.yh-table .ht30{text-align:left;padding-left:30px;}
.lgList_tbl tr td{height:30px;}
.nomargin{margin-top:-5px;}
.nomargin .add-box2{border-top:none;padding:20px 30px 30px;}
.lgInfo p{line-height:30px;}
.txt_L b{font-weight:bold;font-size:14px;}
.txt_L p{text-align:left;line-height:25px;}
.lgInfo .table_list td{border:none;}
.saveInfo{border:none;}


/*shx base*/
.pl20{padding-left:20px;}
.fw{font-weight:bold;}
.bg_f8{background:#f8f8f8;}
.mb0{margin-bottom:0;}
/*2013.5.23 企业信息修改*/
.sele_box{ padding:5px 2px; border:1px solid #ccc; position:relative}
.sele_box .item-list .multi-li { background-color: #EFEFEF; border: 1px solid #C0C3C3; cursor: default; float: left;height: 14px; line-height: 14px; margin: 1px 2px 1px 0; padding: 0 2px;white-space: nowrap;}
.sele_box .item-list .multi-li span {vertical-align: middle;}
.sele_box .item-list li span { border: 0 none;}
.sele_box li .item { border: 1px solid #C0C3C3; border-radius: 2px 2px 2px 2px; height: 14px;line-height: 14px;padding: 1px;}
.sele_box .item-list .del-item { background: url(../../images/close4.gif) no-repeat scroll 0 0 transparent;cursor: pointer; display: inline-block;height: 12px;line-height: 12px;overflow: hidden;text-decoration: none;vertical-align: middle; width: 15px;}
.sele_box .item-list .del-item:hover{ background-position:0 -12px}

.width710 {width: 710px;}
.z_index {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC;  display: none; left: 60px;  position: absolute;  z-index: 2222;}
.tck_main { padding: 15px 20px; width: 670px;}
.clear {clear: both; font-size: 1px; line-height: 1px;  overflow: hidden;}
.tck_main li { border-bottom: 1px dashed #CCCCCC; display: inline; float: left;  height: 40px; width: 100%;}
.tck_main li label {display: inline-block; margin-right: 30px;width: 80px;}
.already_choose { color: #FD1717;}
.form .radio { margin-right: 3px; margin-top: -3px; vertical-align: middle;}
.tck_main li label input { margin-right: 2px;vertical-align: middle;}
.z_mestab tr td input { color: #757575;}
.textR a{ color:#fff;}

/*选择地区弹框*/
.fd-clr:after {clear: both;content: " ";display: block;height: 0;}
.fd-clr:after {clear: both;content: " "; display: block;height: 0;}
.company-industry-top {width: 696px;}
.company-mod {background-color: #FFFFFF;line-height: 1.5;}
.company-mod .title {background: url(../../images/bg6.gif) repeat-x scroll 0 0 transparent;border-bottom: 1px solid #C1D2E6;padding: 0 8px;}
.company-mod h3 {color: #333333;float: left;font-size: 14px;font-weight: bold;height: 35px;line-height: 2.5;margin: 0;}
.company-mod .title .close {
    background: url(../../images/close1.png) no-repeat scroll 0 0 transparent; cursor: pointer; display: block; float: right; height: 22px;
    margin-top: 7px; overflow: hidden;  text-indent: -9999px;width: 21px;}
.company-mod {line-height: 1.5;}

.company-mod .company-industry-pop .industry-info {background-color: #E0EFFF; border: 1px solid #BFCFE6;font-family: 宋体;font-size: 12px; height: 281px; margin: 6px auto;width: 675px;}

.company-mod .company-industry-pop .industry-info .menu-basic { width: 223px;}
.company-mod .company-industry-pop .industry-info .menu1 {float: left;margin-right: 3px;}
.company-mod .company-industry-pop .industry-info .menu1-sub { background-color: #FFFFFF; border-right: 1px solid #BFCFE6; height: 268px;overflow-x: hidden;
    overflow-y: scroll; padding: 6px 0;}
.company-mod .company-industry-pop .industry-info .has-sub { background-attachment: scroll;
    background-image: url(../../images/87847_1446014988.png); background-position: 180px -108px; background-repeat: no-repeat;}
.company-mod .company-industry-pop .industry-info li {border: 1px solid #FFFFFF; cursor: pointer; height: 23px;line-height: 23px; margin: 0 6px; width: 190px;}
.suggest-key {float: left; padding-left: 5px;text-align: left;}
.menu3 , .menu2 , .menu1{ float:left}
.company-mod .company-industry-pop .choosed-show {background-color: #FFF7EC;border: 1px solid #E4CCB2; font-family: 宋体; font-size: 12px; height: auto;
    margin: 6px auto;padding: 6px 10px;width: 656px;}
	
.company-mod .company-industry-pop .choosed-show li { float: left;margin-right: 6px;white-space: nowrap;}

.company-mod .btn-box { background: none repeat scroll 0 0 #F7F7F7; border-top: 1px solid #EEEEEE; float: none;margin: 0;padding:10px ;width: auto;}
.company-mod .company-industry-pop .industry-info .menu2-sub { background-color: #FFFFFF;  border-left: 1px solid #BFCFE6; border-right: 1px solid #BFCFE6; border-width: 0 1px; height: 268px;  overflow-x: hidden; overflow-y: scroll;  padding: 6px 0;}
.company-mod .company-industry-pop .industry-info .menu3-sub { background-color: #FFFFFF; border-left: 1px solid #BFCFE6; border-width: 0 0 0 1px; height: 268px; overflow-x: hidden;  overflow-y: scroll; padding: 6px 0;}

.company-mod .company-industry-pop .industry-info .check-box {  display: block; float: left; height: 23px; line-height: 23px;  margin: 0 0 0 6px;}
.btnGray{ display:inline-block; height:37px; padding:0 0 0 28px; background:url(../../images/memberunlogin/btn01.gif) no-repeat left -78px; vertical-align:middle}
.btnGray span{ display:inline-block; height:29px; padding:4px 28px 4px 0; font:100 14px/29px "宋体"; cursor:pointer; background:url(../../images/memberunlogin/btn01.gif) no-repeat right -78px; }
.btnGray:hover,.btnGray:active{ background-position:left -78px; text-decoration:none;}
.btnGray:link span,.btnGray:visited span{ color:#fff;}
.btnGray:hover span,.btnGray:active span{ background:url(../../images/memberunlogin/btn01.gif) no-repeat right -78px}

.btnGray2{ display:inline-block; height:24px; border:none;padding:0 0 0 12px;  background:url(../../images/memberunlogin/btn01.gif) no-repeat left -126px; vertical-align:middle}
.btnGray2 span{ display:inline-block; height:16px; padding:4px 12px 4px 0; font:100 12px/16px "宋体"; cursor:pointer; background:url(../../images/memberunlogin/btn01.gif) no-repeat right -126px; }
.btnGray2:hover,.btnGray2:active{ background-position:left -126px; text-decoration:none; color:#044985}
.btnGray2:link span,.btnGray2:visited span{ color:#333;}
.btnGray2:hover span,.btnGray2:active span{ background:url(../../images/memberunlogin/btn01.gif) no-repeat right -126px; color:#044985}

.btnBlue{ display:inline-block; height:37px; padding:0 0 0 28px; background:url(../../images/memberunlogin/btn01.gif) no-repeat left -33px; vertical-align:middle}
.btnBlue span{ display:inline-block; height:29px; padding:4px 28px 4px 0; font:100 14px/29px "宋体"; cursor:pointer; background:url(../../images/memberunlogin/btn01.gif) no-repeat right -33px; color:#fff }
.btnBlue:hover,.btnBlue:active{ background-position:left -33px; text-decoration:none;}
.btnBlue:link span,.btnBlue:visited span{}
.btnBlue:hover span,.btnBlue:active span{ background:url(../../images/memberunlogin/btn01.gif) no-repeat right -33px}

.btnBlue1{ display:inline-block; height:36px; padding:0 0 0 20px; background:url(../../images/memberunlogin/btn5.gif) no-repeat left 0; vertical-align:middle}
.btnBlue1 span{ display:inline-block; height:22px; padding:7px 20px 7px 0; font:100 14px/22px "微软雅黑"; cursor:pointer; background:url(../../images/memberunlogin/btn5.gif) no-repeat right 0;}
.btnBlue1:hover,.btnBlue1:active{ background-position:left -40px; text-decoration:none}
.btnBlue1:link span,.btnBlue1:visited span{ color:#fff}
.btnBlue1:hover span,.btnBlue1:active span{ background:url(../../images/memberunlogin/btn5.gif) no-repeat right -40px}

.btnOrag{ display:inline-block; height:38px; padding:0 0 0 24px; background:url(../../images/memberunlogin/btn3.gif) no-repeat left -11px; vertical-align:middle}
.btnOrag span{ display:inline-block; height:38px; padding:0 24px 0 0; font:600 14px/38px "微软雅黑"; cursor:pointer; background:url(../../images/memberunlogin/btn3.gif) no-repeat right -11px; color:#fff}
.btnOrag:hover,.btnOrag:active{ background-position:left -54px; text-decoration:none;}
.btnOrag:link span,.btnOrag:visited span{}
.btnOrag:hover span,.btnOrag:active span{ background:url(../../images/memberunlogin/btn3.gif) no-repeat right -54px}

.btnOrange{background:url(../../images/memberunlogin/btnOrange.jpg) no-repeat left;display:inline-block;height:35px;padding-left:20px;}
.btnOrange span{background:url(../../images/memberunlogin/btnOrange.jpg) no-repeat right;display:inline-block;padding:8px 20px 8px 0;height:19px;color:#fff;font-weight:bold;}
/*下拉菜单样式*/
.select,.dropDown{}
.select .slt-input,.dropDown .slt-input{ float:left; height:26px; line-height:26px; padding:1px 2px; border:1px solid #B5B5B5; border-right:none; color:#666; font-size:12px; outline:none; background:#fff url(../../images/memberunlogin/selct_bg.gif) repeat-x top;}
.select .slt-btn,.dropDown .slt-btn{ float:left; display:inline-block; height:30px; width:24px; background:url(../../images/memberunlogin/select_btn2.gif) no-repeat; text-decoration:none;}
.select .slt-option,.dropDown .slt-div{ display:none; position:absolute; left:0; top:29px; border:1px solid #b5b5b5; background:#fff;}
.select .slt-option ul{float:right;padding-right:10px; max-height:300px; overflow-y:auto;}
.select .slt-option ul li a{ display:block; height:18px; padding:0 10px; overflow:hidden}
.select .slt-option ul li a:hover{ background:#0066cc; color:#fff; text-decoration:none}
.mr5 {margin-right: 5px;}
.fl {
    float: left;
}
.fr {
    float: right;
}
.ml10 {
    margin-left: 10px;
}
.mt38 {
    margin-top: 38px;
}
.F2{ width:726px; border:1px solid #dddddd; overflow:hidden; margin:20px auto 0; padding:0; clear:both}
.F2 h4{ width:726px; height:34px; color:#4d4d4d; background:url(../../images/memberunlogin/buy_bg.gif) repeat-x; line-height:34px; border-bottom:1px solid #dddddd; padding:0 0 0 20px; text-align:left; font-weight:bold; font-size:14px}
.F2 ul { width:1200px; padding:12px 0 0 12px}
.F2 ul li{ width:152px; height:265px; display:inline; float:left; overflow:hidden; margin:0 30px 0 0; padding:0;}
.F2 ul li a.img{ width:152px; display:block; text-align:left; color:#000; font-weight:bold; text-decoration:none}
.F2 ul li a.img:hover{ text-decoration:underline}
.F2 ul li p{ width:158px; line-height:18px; color:#333;}
.F2 ul li p i{ display:block; float:left; width:60px; text-align:left; white-space:nowrap; overflow:hidden; font-style:normal}
.F2 ul li p i.big{ width:120px!important;}
.F2 ul li p u.small{ width:30px!important; padding:0!important}
.F2 ul li p u{ display:block; float:left; width:88px; white-space:nowrap; overflow:hidden; padding:0 6px 0 0; margin:0 0 0 3px; text-align:right; text-decoration:none;}
.F2 ul li label{ display:block; width:158px; height:36px; line-height:36px; color:#757575; border-top:1px solid #d8d8d8;  text-align:left; clear:both}
.F2 ul li label a.news{ color:#0033cc; text-decoration:none!important}
.F2 ul li label a.news:hover{ }

/* wxm 6.8 */
label.w100 { float:left; width:112px; text-align:right; padding:0!important;}

.width400{ width:400px; padding-top:14px;}
.dt-bg{background:#fcf2d9;height:30px;padding-top:5px;margin-bottom:5px;}
.dt-bg02{background:url(../../images/memberunlogin/tag-bg.gif) repeat-x;height:30px; padding-top:5px; margin-bottom:5px;}

.tag02 dt{ padding-left:10px; height:30px; background:url(../../images/memberunlogin/tag-yh.gif) repeat-x; }
.tag02 dt a{ display:inline-block; float:left; cursor:pointer;  padding:0 0 0 20px; background:url(../../images/memberunlogin/tag-yh.gif) no-repeat left -30px; margin-left:5px;}
.tag02 dt a span{ display:inline-block; height:16px; padding:7px 20px 7px 0;  background:url(../../images/memberunlogin/tag-yh.gif) no-repeat right -30px; color:#17191d; font:100 12px/16px "微软雅黑"; text-decoration:none;}
.tag02 dt a:hover,.tag02 dt a:active{ text-decoration:none}
.tag02 dt a:link span,.tag02 dt a:visited span{ color:#17191d;}
.tag02 dt a:hover span,.tag02 dt a:active span{color:#1266a7; text-decoration:none}
.tag02 dt a.on{ background-position:left -60px;}
.tag02 dt a.on span{ background-position:right -60px; color:#082a4e; height:16px; font:600 12px/16px "微软雅黑";}
.tag02 dt a.on:hover,.tag02 dt a.on:active{ color:#cc0000;}
.tag02 dt a.on:link span,.tag02 dt a.on:visited span{ color:#17191d;}
.tag02 dt a.on:hover span,.tag02 dt a.on:active span{ color:#1266a7;}
.tag02 dd{ display:block;}

/*表单样式*/
.form input{ outline:none;}
.form textArea{ padding:2px; resize:none; vertical-align:middle; border:1px solid #b5b5b5; color:#333; font-size:12px; outline:none }
.form input.text { display:inline-block; height:26px; padding:0px 2px; line-height:26px; border:1px solid #ccc; color:#999; vertical-align:top; background:#fff;}
.form input.textHover{ background:#ffffe0}
.form input.textErro{ background:#fff4d5}
.form .radio{ margin-top:-3px; margin-right:3px; *margin-right:0px; _margin-right:0px; vertical-align:middle;}

.textL{ text-align:left}
.textC{ text-align:center}

.w250{width:250px;}
.mt5{ margin-top:5px}
.ml5{ margin-left:5px}
.mt14{ margin-top:14px}
.fontRed{ font-style:normal; color:#fd1717;}
p.div_btn{ text-align:center!important;padding:0!important;}
.div_btn input{}
.wj_blueBtn{display:inline-block;width:91px; height:38px;border:none; margin:0px; line-height:38px; background:url(../../images/memberunlogin/btn02.png) no-repeat left top; color:#fff; text-align:center;}
.wj_grayBtn{display:inline-block;width:120px; height:26px;border:none; margin:0; line-height:26px; background:url(../../images/memberunlogin/btn02.png) no-repeat left bottom; color:#333; text-align:center;}
.no_pad{padding:0!important;display:inline-block!important; width:90px!important;margin:0 0 0 5px; position:relative;top:0px;}
.wj_Li{height:32px; line-height:32px;}
