@charset "utf-8";
/* 销售中心的主要内容模块 */
.w628 { float:left; width:628px; zoom:1; overflow:hidden;}
.w200 { float:left; width:200px; margin-left:12px; zoom:1; overflow:hidden;}
.h244 { height:244px;}
.h212 { height:212px;}

/* 卖家会员信息的样式 */
.seller { float:left; width:100%; }
.seller .tx_fl { float:left; width:136px; height:189px; padding-left:2px; background:url(../../images/tx_bg.gif) no-repeat; position:relative;} 
.seller .tx_fl p.img { margin:1px 0 0 0;}
.seller .tx_fl p.img { display:block; width:134px; height:134px;}
.seller .tx_fl .set_off { position:absolute; right:0; top:0px; margin-right:6px; width:67px; height:27px; background:url(../../images/set_off.gif) no-repeat 45px 4px;}
.seller .tx_fl .set_on { position:absolute; right:0; top:0px; margin-right:6px; width:67px; height:27px; background:url(../../images/set_on.gif) no-repeat;}

.seller .tx_fl li { float:left; width:45px; height:42px; text-align:center; margin-top:6px; color:#757575;}
.seller .tx_fl span { width:20px; height:20px; display:block; margin:0 auto;}
.seller .tx_fl span.email_on {  background:url(../../images/ico_cs.png) no-repeat center -18px;}
.seller .tx_fl span.email_off { background:url(../../images/ico_cs.png) no-repeat center -78px;}
.seller .tx_fl span.tel_on {  background:url(../../images/ico_cs.png) no-repeat center -36px;}
.seller .tx_fl span.tel_off { background:url(../../images/ico_cs.png) no-repeat center -96px;}
.seller .tx_fl span.tx_on {  background:url(../../images/ico_cs.png) no-repeat center 0;}
.seller .tx_fl span.tx_off { background:url(../../images/ico_cs.png) no-repeat center -60px;}

.seller .gs_fr { float:left; width:476px; margin-left:13px;}
.seller .gs_fr h2 { display:inline-block; height:36px; font:600 16px/36px "Microsoft Yahei","Hiragino Sans GB"; color:#3c3c3c;}

.seller .gs_fr_top { float:left; margin-bottom:10px; width:476px; clear:both;}
.seller .gs_fr_top li { float:left; height:22px; line-height:22px; color:#757575; clear:both; width:100%;}
.seller .gs_fr_top li a { margin-left:10px; _margin-left:8px;}
.seller .gs_fr_top li a:link,.seller .gs_fr_top li a:visited { color:#0579c6;}
.seller .gs_fr_top li a:hover,.seller .gs_fr_top li a:active { text-decoration:underline; color:#f60;}

.graph { position:relative; width:250px; height:12px; margin:6px 0; background:url(../../images/jdt.jpg) no-repeat 0 -21px;}
.graph .bar { display:block; height:12px; position:relative; background:url(../../images/jdt.jpg) no-repeat 0 -5px; text-align:right;}
.graph span { width:116px; display:inline-block;}

.seller .gs_fr_bot { padding-top:10px; border-top:1px dashed #ccc; width:476px; clear:both}
.seller .gs_fr_bot li { float:left; height:22px; line-height:22px; color:#757575; clear:both; width:100%;}
.seller .gs_fr_bot li a { margin-right:4px; _margin-right:2px;}
.seller .gs_fr_bot li a:link,.seller .gs_fr_bot li a:visited { color:#0579c6;}
.seller .gs_fr_bot li a:hover,.seller .gs_fr_bot li a:active { text-decoration:underline; color:#f60;}

/* 公告内容样式 */
.gg_message { width:178px; padding:0 10px 4px; border:1px solid #e1e1e1; zoom:1; overflow:hidden;}
.gg_message h2 { display:inline-block; height:36px; background:url(../../images/line_bg2.gif) no-repeat 0 -36px; padding-left:12px; font:600 14px/36px "Microsoft Yahei","Hiragino Sans GB"; color:#3c3c3c;}
.gg_message li { float:left; margin:4px 0 6px;}
.gg_message li span { float:left; width:12px; height:20px; display:inline-block; background:url(../../images/list_ico.gif) no-repeat left center; line-height:0; font-size:0;}
.gg_message li p { float:right; width:166px;}
.gg_message li p a {color:#757575;}
.gg_message li p a:hover { color:#f60;}

/* 信息完整度检测 */
.testing { float:left; width:606px; height:192px; padding:0 10px 6px; border:1px solid #e1e1e1; zoom:1; overflow:hidden;}
.testing h2 { float:left; display:inline-block; height:36px; background:url(../../images/line_bg2.gif) no-repeat 0 -36px; padding-left:12px; font:600 14px/36px "Microsoft Yahei","Hiragino Sans GB"; color:#3c3c3c;}
.testing .cont01 { float:left; clear:both; margin-top:20px; width:100%;}
.testing .cont01 .yd{ float:left; margin-left:24px; width:430px; height:80px; padding:14px 0 0 150px; background:url(../../images/xxwz_bg.gif) no-repeat left top; color:#757575; position:relative;}
.testing .cont01 .time { margin:20px 20px 0 0; color:#757575; text-align:right;}

.testing .cont02 { float:left; clear:both; width:100%;}
.testing .cont02 .fen { float:left; color:#f60; width:116px; height:64px; display:inline-block; text-align:right;}
.testing .cont02 .fen b { font:600 90px/70px Arial, Helvetica, sans-serif; display:inline-block; color:#f00;}
.testing .cont02 .frcon { float:left; display:inline-block; width:376px; margin-top:10px; }
.testing .cont02 .frcon .w236 { float:left; margin-left:20px; font:100 12px/22px "Microsoft Yahei","Hiragino Sans GB"; color:#757575; width:240px;}
.testing .cont02 .frcon li { float:left; width:75px; height:26px; text-align:center; line-height:26px; color:#757575;}
.testing .cont02 .remind  { float:right; width:218px;}
.testing .cont02 .remind_tit { color:#3c3c3c; font:600 14px/22px "Microsoft Yahei","Hiragino Sans GB";}
.testing .cont02 .remind_cont { float:right; width:212px; height:126px; max-height:126px; display:inline-block; overflow-y:auto; background:url(../../images/ico_bg.gif) repeat-y left top; margin-top:5px; position:relative;}
.testing .cont02 .remind_cont li { background:url(../../images/ico5.gif) no-repeat left center; height:26px; line-height:26px; padding-left:24px; position:relative;}
.testing .cont02 .remind_cont li span { float:left; +height:26px; color:#757575;}
.testing .cont02 .remind_cont li a { float:right; +height:26px;}

.testing .cont03 { float:left; clear:both; margin-top:20px; width:100%;}
.testing .cont03 .fen { float:left; color:#19a039; width:140px; height:64px; display:inline-block; text-align:right;}
.testing .cont03 .fen b { font:600 68px/64px Arial, Helvetica, sans-serif; display:inline-block;}
.testing .cont03 .frcon { float:left; display:inline-block; width:376px;}
.testing .cont03 .frcon p { font:600 14px/30px "Microsoft Yahei","Hiragino Sans GB"; color:#19a039;}

/*自适应蓝色按钮*/
.btnblue{ position:absolute; left:236px; top:58px; display:inline-block; height:31px; padding:0 0 0 24px; background:url(../../images/btn4.gif) no-repeat left -62px; vertical-align:middle}
.btnblue span{ display:inline-block; height:23px; padding:4px 24px 4px 0; font:100 14px/23px "Microsoft Yahei","Hiragino Sans GB"; cursor:pointer; background:url(../../images/btn4.gif) no-repeat right -62px; }
.btnblue:hover,.btnblue:active{ background-position:left -62px; text-decoration:none;}
.btnblue:link span,.btnblue:visited span{ color:#fff;}
.btnblue:hover span,.btnblue:active span{ background:url(../../images/btn4.gif) no-repeat right -62px}

/* 商机发布指南 */
.business { float:left; width:606px; padding:0 10px 6px; border:1px solid #e1e1e1; zoom:1; overflow:hidden;}
.business h2 { float:left; display:inline-block; height:36px; background:url(../../images/line_bg2.gif) no-repeat 0 -36px; padding-left:12px; font:600 14px/36px "Microsoft Yahei","Hiragino Sans GB"; color:#3c3c3c;}
.business .fb_guide { margin-left:40px; width:530px; height:184px; background:url(../../images/sjfbzn_bg.gif) no-repeat left top; position:relative;}
.business .guide { width:530px; height:118px; color:#f60; text-align:center; display:inline-block; clear:both;}
.business .guide .step01 { position:absolute; height:78px; left:20px; top:40px;}
.business .guide .step02 { position:absolute; height:78px; left:220px; top:40px;}
.business .guide .step03 { position:absolute; height:78px; left:427px; top:40px;}
.business .guide .smxx01 { position:absolute; height:40px; left:122px; top:30px; color:#757575;}
.business .guide .smxx02 { position:absolute; height:40px; left:325px; top:30px; color:#757575;}

.business .bottom p { float:left; width:385px; display:inline-block; color:#757575; margin-top:20px;}
.business .bottom .btn_bc2{ width:126px; height:31px; line-height:31px; background:#f60; color:#fff; border:none; cursor:pointer; margin:20px 0 0 16px; font-weight:600;}

/* 采购信息匹配 */
.purchase {float:left; width:606px; padding:0 10px 6px; border:1px solid #e1e1e1; zoom:1;}
.purchase h2 { float:left; display:inline-block; height:36px; background:url(../../images/line_bg2.gif) no-repeat 0 -36px; padding-left:12px; font:600 14px/36px "Microsoft Yahei","Hiragino Sans GB"; color:#3c3c3c;}
.purchase table { border:0; width:606px; empty-cells:hide;}
.purchase table th { background:#f0f0f0; height:26px; text-align:left; font:600 12px/26px "Microsoft Yahei","Hiragino Sans GB"; color:#3c3c3c;}
.purchase table th.txtc { text-align:center;}
.purchase table td { padding:7px 0 3px; color:#757575;}
.purchase table td a.tit { margin-left:6px; color:#757575;}

.purchase_cont2 li { margin-top:4px; margin-left:22px; color:#757575;}
.purchase_cont2 li label { width:70px; text-align:right; padding:6px 0; display:inline-block;}
.purchase_cont2 li input.text02 { border: 1px solid #ccc; height: 24px; width:410px; vertical-align:middle;}

.btnGray span { color:#fff;}
/* 店铺模板 */
.shop_mb {float:left; width:626px; border:1px solid #e1e1e1; zoom:1; overflow:hidden;}
.shop_mb h2 { display:inline-block; height:36px; background:url(../../images/line_bg2.gif) no-repeat 0 -36px; margin-left:10px; padding-left:12px; font:600 14px/36px "Microsoft Yahei","Hiragino Sans GB"; color:#3c3c3c;}
.shop_mb ul { margin:10px 10px 14px; overflow:hidden;}
.shop_mb li { float:left; margin-right:11px; _margin-right:10px; width:112px; height:140px;}
.shop_mb li img { width:112px; height:140px; display:block; }
.shop_mb .bott { height:30px; background:#f0f0f0; color:#757575; line-height:30px; padding-left:30px;}

.arrow { display:block; height:22px; width:15px; background:url(../../images/arrow.png) no-repeat 0 0; text-indent: -999px; position: absolute; top:104px; cursor: pointer;}
.forward { background-position:1px -48px; right:4px;}
.back { background-position:1px 0; left: 4px;}
.forward:hover { background-position: 1px -73px;}
.back:hover { background-position:1px -24px;}

/* 行业信息 */
.hy_infor { width:178px; padding:0 10px 6px; border:1px solid #e1e1e1; zoom:1; clear:both;}
.hy_infor h2 { float:left; display:inline-block; height:36px; background:url(../../images/line_bg2.gif) no-repeat 0 -36px; padding-left:12px; font:600 14px/36px "Microsoft Yahei","Hiragino Sans GB"; color:#3c3c3c;}
.hy_infor_cont li { float:left; background:url(../../images/list_ico.gif) no-repeat left center; padding-left:12px; line-height:26px; width:100%;}
.hy_infor_cont li a { color:#757575; display:inline-block;}
.hy_infor_cont li a:hover { color:#f60;}
.hy_infor_cont li span { float:right; padding:6px 0; display:inline-block;}

.hy_infor_cont2 { display:none; float:left; color:#757575; width:100%; clear:both;}
.hy_infor_cont2 .smwz { float:left; padding:6px 0; margin-top:10px; clear:both;}

/* 公告列表 */
.hy_infor_cont3 li { float:left; background:url(../../images/list_ico.gif) no-repeat left 10px; padding-left:12px; line-height:20px; width:100%;}
.hy_infor_cont3 li a { color:#757575; display:inline-block;}
.hy_infor_cont3 li a:hover { color:#f60;}
.hy_infor_cont3 li span { float:right; padding:6px 0; display:inline-block;}
.hy_infor_cont3 .smwz { float:left; clear:both;}
/* 帮助中心 */
.help { width:178px; height:244px; padding:0 10px 6px; border:1px solid #e1e1e1; zoom:1; overflow:hidden;}
.help h2 { float:left; display:inline-block; height:36px; background:url(../../images/line_bg2.gif) no-repeat 0 -36px; padding-left:12px; font:600 14px/36px "Microsoft Yahei","Hiragino Sans GB"; color:#3c3c3c;}
.help_cont li { line-height:26px;}
.help_cont li a { color:#757575; display:inline-block;}
.help_cont li a:hover { color:#f60;}
.help b { font-weight:600;}
.help span { float:right; padding:6px 0; display:inline-block;}

/* 设置样式 */
.set_off { float:right; margin:6px 0 0 0; width:67px; height:27px; background:url(../../images/set_off.gif) no-repeat 45px 4px;}
.set_on { float:right; margin:6px 0 0 0; width:67px; height:27px; background:url(../../images/set_on.gif) no-repeat;}

.z_w56{ width:56px;}
.z_w80{ width:80px;}
.ml34 { margin-left:34px;}
.ml240 { margin-left:240px;}

.btn_bc{ float:left; display:inline-block; height:31px; line-height:31px; padding:0 20px; background:#f60; color:#fff; border:none; cursor:pointer;}
a.qx_blue:link,a.qx_blue:visited { color:#03c; line-height:31px; margin-left:10px;}
a.qx_blue:hover,a.qx_blue:active { color:#03c; text-decoration:underline; line-height:31px; margin-left:10px;}

/* 右侧广告样式 */
.adr01 { width:200px; height:62px; display:inline-block; overflow:hidden;}

/* 地区选择 */
.width710 {
    width: 360px;
}
.z_index {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: none;
    left: 70px;
    position: absolute;
    z-index: 9999;
    top:-326px;
}

.tck_main {
    padding: 10px;
    width: 340px;
}
.clear {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
}
.tck_main li {
    border-bottom: 1px dashed #CCCCCC;
    display: inline;
    float: left;
    height: 20px;
    padding: 2px 0;
    width: 80px;
    margin-left:4px;
}
.form .radio { margin-top:2px;}
.tck_main li label {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    text-align:left;
    padding:0;
}

.sele_box {
    border: 1px solid #CCCCCC;
    padding: 5px 2px;
    display:inline-block;
}
.dwli {
    position: relative;
}
.in415 { width:406px;}
.sele_box .item-list .multi-li, .add_bor .item-list .multi-li {
    background-color: #EFEFEF;
    border: 1px solid #C0C3C3;
    cursor: default;
    float: left;
    height: 14px;
    line-height: 14px;
    margin: 1px 2px 1px 0;
    overflow-y: hidden;
    padding: 0 2px;
    white-space: nowrap;
}
.sele_box .item-list .multi-li span, .add_bor .item-list .multi-li span {
    vertical-align: middle;
}
.sele_box .item-list li span, .add_bor .item-list li span {
    border: 0 none;
}
.sele_box li .item, .add_bor li .item {
    border: 1px solid #C0C3C3;
    border-radius: 2px 2px 2px 2px;
    height: 14px;
    line-height: 14px;
    padding: 1px;
}
.sele_box .item-list .del-item, .item-list .del-item {
    background: url("../../images/close4.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    text-decoration: none;
    vertical-align: middle;
    width: 15px;
}
.sele_box .item-list .del-item:hover, .item-list .del-item:hover {
    background-position: 0 -12px;
}

#checkMessages { width:240px; height:64px; display:inline-block;}
