
/*������Ϣ*/
input.txt1{ padding:1px 2px; background:#fff; line-height:30px; border:1px solid #ccc; color:#333; vertical-align:middle; margin:0;}
.peomes_h2{ height:44px; line-height:44px; }
.peomes_h2 b, .peomes_h2 span , .peomes_h2 a{ float:left; font-weight:normal; font-size:12px;}
.peomes_h2 .s{_margin:14px 0 0 0}
.peomes_h2 b{ font-size:14px; font-weight:bold;}
.mar_span{ margin-left:28px;}
.m_no{ margin-top:0px}
.pad_no{ padding-right:0px;}
.pad_no .a_s{ color:#044985; background:url(../../../images/jt_spr.gif) no-repeat left 6px; padding:0; display:inline; height:15px; text-indent:8px; float:right;}
.pad_no .a_x{ background:url(../../../images/jt_spr.gif) no-repeat left -13px;text-indent:8px; }
.peomes_tab{ margin:10px 0 0 0px;}
.peomes_tab tr td{ text-align:right;  vertical-align:middle; }
.peomes_tab tr th{ padding:0px 0 10px 0; text-align:left;}
/*.peomes_tab tr th img.imgleft{ float:left; margin-bottom:14px}*/
.peomes_tab tr th input{  float:left; height:26px; border:1px solid #ccc; float:left;}
.peomes_tab tr th input.rad{ height:12px; width:12px; margin:10px 0 0 0}
.peomes_tab tr th input.rad1{ margin-left:23px}
.peomes_tab thead tr td{ height:121px; margin-bottom:14px;}
/*.peomes_tab tbody tr th div{ height:30px; background:#eeeeee; padding:4px 0 4px 4px; }*/
.peomes_tab tbody tr th div{ height:30px; background:#eeeeee; padding:0; }
.peomes_tab tbody tr th div.no { padding:0;}
.peomes_tab tr td span{ display:block; height:30px; padding-top:-20px}

.peomes_tab tr th .Validform_checktip { float:left; }

.img_r{ float:left; display:inline; padding-top:46px; margin:0 0 0 16px}
.img_r p{ color:#ccc; text-align:left;}
.img_r p a, .peomes_tab tbody tr th a{font-weight:normal; font-size:12px; }
.input1{ width:280px;}
.span1{ color:#fd1717; float:left; margin:0 0 0 9px; display:inline; height:28px; line-height:28px}
.strong1{ float:left; vertical-align:middle; margin:8px 0 0 5px; font-weight:normal;}
.input2{ width:205px;}
.peomes_tab tbody tr th  .a1{ margin:4px 0 0 10px}
.input3{ width:39px;}
.input4{ width:52px;}
.input5{ width:143px;}
.peomes_tab tbody tr th i{ margin:0 5px 0 5px; float:left; color:#ccc; line-height:30px}
.peomes_tab tfoot tr th select{ height:20px; float:left; margin: 4px 2px 0 0;}
.peomes_tab tr td b{ color:#fd1717; margin-right:7px}
.w44{ width:44px; overflow:hidden;}
.s1{ padding-right:9px}
.s2{ padding-right:1px}
.s3{ padding-right:3px}
.but_x .save_but{ display:block; background:url(../../../images/save_but.gif) no-repeat; width:74px; height:28px; text-align:center; font-weight:bold; font-size:14px; color:#fff; line-height:28px;} 
.but_x{ height:28px;margin:15px 0 27px 145px}
.peomes_tab tbody tr th .pd1{ margin:3px 0 0 10px;}
.peomes_h2 .m2{ margin:10px 0 0 14px}

/*��ҵ��Ϣ*/
.con_div{ padding:20px 41px 0 41px}
.con_div p{ color:#666;}
.con_div .red_p{ color:#fd1717; margin:15px 0 15px 0}
.p_hei{ margin-bottom:14px; zoom:1; overflow:hidden; }
.p_hei input{border:1px solid #ccc; height:26px; line-height:26px;}
.p_hei input, .p_hei span, .p_hei b, .p_hei i{ float:left;}
.p_hei b{ color:#FD1717; font-weight:100;}
.p_hei i { color:#044985; font-weight:100;}
.p_hei b a,.p_hei b a:hover { text-decoration:none}
.in75{ width:72px; margin:0 8px 0 0; display:inline; padding: 1px 2px;}
.in415{ width:415px;}
.sp1{ width:265px; float:left; line-height:15px; margin-left:4px; display:inline-block; text-align:left;}
.peomes_tab tbody tr th a.acol{ color:#0033cc; margin:0; display:inline;}
.w410{ width:410px; text-align:left; color:#666; float:left}
.sp2{ float:left; line-height:28px; margin-left:4px; display:inline;color:#666;}
.peomes_tab tr th  .c1{ height:14px; margin:9px 0 0 7px; }
.se1{ width:178px; float:left;}
.peomes_tab tr .w155{ width:155px}
.te1{ width:460px; height:127px; float:left; font-size:12px;}
.peomes_tab tfoot tr th{}
.peomes_tab tfoot tr th .img_r{ float:left; display:inline; padding-top:46px; margin:0 0 0 16px}
.peomes_tab tfoot tr th .img_r p{ color:#ccc; text-align:left;}
.peomes_tab tfoot tr th .img_r p a{float:left; font-weight:normal; font-size:12px; margin:8px 8px 0 0; }
.tp{ float:left; margin:115px 0 0 5px}
.tp b{ color:#fd1717}
.fl_z{ float:left; line-height:28px; margin:0 5px; display:inline;}
.tan_i{ height:50px; border:1px solid #ccc;padding:10px 0 0 210px; margin:0 0 14px 0; background:#FFE5CC; }
.tan_i p{width:450px; margin:0 auto;}

.tan_i div, .tan_i img{ float:left}
.tan_i img{ margin-right:10px}
.tan_i .p_st{ font-weight:bold; margin-top:10px;}
.peomes_tab tfoot tr th .s2{ margin:5px 0 0 10px; width:100px; }
.m3{ margin:3px 0 0 10px; float:left; display:inline;}
.no1{ margin-top:15px}
.w435{  margin:0 0 14px 86px; overflow:hidden;}
.ml135 .wid_a{ display:block; height:24px; width:100px}
.w435 p, .w435 .hdiv{ height:30px; margin-bottom:14px;}
.w435 p, .w435 .hdiv .divpad{ padding:0px; top:29px; text-align:left; text-align:left;}
.w435 .hdiv .mr5{ margin:0 5px}

.w435 p span, .w435 p input , .w435 p select{ float:left; text-align:left;}
.w435 .hdiv span, .w435 .hdiv input{ float:left;}
.w435 p .w_pan{ width:100px}
.w435 p span.lin_sp{ line-height:24px; padding-top:0px}
/**/
.w435 .hdiv .span_60{ line-height:28px; width:61px;}
.w435 p input, .w435 .hdiv input{ height:26px; border:1px solid #ccc; margin:0 5px 0 0; text-align:left;}
.w435 p span, .w435 .hdiv span{ line-height:28px;}
.w435 .hdiv .w221{ width:221px;}
.w435 p input.w55{ width:55px;}
.w435 p input.w185{ width:180px; display:inline}
.w435 p input.w100{ width:100px;}
/*.wz_box{ padding-left:60px;}*/
.wz_box div, .wz_box a{ float:left;}
.wz_box div{ border:1px solid #c4c4c4; height:60px; width:60px;}
.m4{ margin:70px 0 0 10px;}
.w435 p a{ float:left; color:#044985; margin-left:60px; display:inline;}
.buy_tit span{ float:left}
.peomes_tab tr td .btnGray2 span{ height:16px; }
.mb10{ margin-bottom:10px}
.peomes_tab  tr th a.nom{ margin:0;}
.peomes_tab  tr th div.nodiv{ background:#fff; padding:0 0 0 5px; height:auto;}
.peomes_tab  tr th div.nobg{ background:#fff;}
.peomes_tab tr th div.z_w80{ width:80px; top:29px; left:0}
.peomes_tab tr th div.z_w80 ul{ width:75px; float:left; text-align:left;}
.peomes_tab  tr th div.nopad{ padding:0;}
.z_w80{ width:80px;}
.a_div{ display:none; }
.t_box{ position:absolute; width:360px; border:1px solid #ccc; padding:5px; z-index:99; top:25px; background:#fff; left:35px; display:none; z-index:2222}
.t_box li{ width:110px; float:left; margin-left:10px; display:inline;text-align:left;}
.t_box li a{padding-left:10px;}
.peomes_tab tr th .t_box input{ height:22px}
#show22{ }
.w435 .hdiv .z_nom, .w435 .hdiv .nom{ margin:0;}

/*������Ϣ������ʽ*/
.list_line{height:25px; margin-bottom:18px}
.ne_span{ width:135px; display:block; line-height:24px;}
.list_line span, .list_line input, .list_line a, .list_line b , .list_line strong{ float:left;}
.list_line strong, .list_line b{ font-weight:normal; line-height:25px}
.list_line .b_m{ margin-left:15px}
.list_line  .w_128{ width:173px}

.list_line span{ text-align:right;}
.list_line input{ height:21px; border:1px solid #ccc; padding:1px 2px; margin-right:10px; display:inline;}
.ws_80{ width:80px;}
.no1{display:block; text-align:center;}
.pw_z{ line-height:22px; width:355px; text-align:left; margin:0 auto;}
.pw_z a{ color:#044985}

/*shx�˻����� 5-13*/
.yh-h2 span{font-weight:normal;font-size:12px;}
.yh-table .ht30{text-align:left;padding-left:30px;}
.lgList_tbl tr td{height:30px;}
.nomargin{margin-top:-5px;}
.nomargin .add-box2{border-top:none;padding:20px 30px 30px;}
.lgInfo p{line-height:30px;}
.txt_L b{font-weight:bold;font-size:14px;}
.txt_L p{text-align:left;line-height:25px;}
.lgInfo .table_list td{border:none;}
.saveInfo{border:none;}


/*shx base*/
.pl20{padding-left:20px;}
.fw{font-weight:bold;}
.bg_f8{background:#f8f8f8;}
.mb0{margin-bottom:0;}
/*2013.5.23 ��ҵ��Ϣ�޸�*/
/*.sele_box{ padding:5px 2px; height:18px; border:1px solid #ccc; position:relative}
.sele_box{ padding:5px 2px; min-height:18px; border:1px solid #ccc; display:inline-block; z-index:999;}
.sele_box .item-list{}
.dwli{ position:relative;}
.sele_box .item-list .multi-li { background-color: #EFEFEF; border: 1px solid #C0C3C3; cursor: default; float: left;height: 14px; line-height: 14px; margin: 1px 2px 1px 0; padding: 0 2px;white-space: nowrap;}
.sele_box .item-list .multi-li span {vertical-align: middle;}
.sele_box .item-list li span { border: 0 none;}
.sele_box li .item { border: 1px solid #C0C3C3; border-radius: 2px 2px 2px 2px; height: 14px;line-height: 14px;padding: 1px;}
.sele_box .item-list .del-item { background: url(../../../images/close4.gif) no-repeat scroll 0 0 transparent;cursor: pointer; display: inline-block;height: 12px;line-height: 12px;overflow: hidden;text-decoration: none;vertical-align: middle; width: 15px;}
.sele_box .item-list .del-item:hover{ background-position:0 -12px}*/

.sele_box{ padding:5px 2px; border:1px solid #ccc;}
.dwli{ position:relative;}
.sele_box .item-list .multi-li,.add_bor .item-list .multi-li { background-color: #EFEFEF; border: 1px solid #C0C3C3; cursor: default; float: left;height: 14px; line-height: 14px; margin: 1px 2px 1px 0; padding: 0 2px;white-space: nowrap; overflow-y:hidden;}
.sele_box .item-list .multi-li span,.add_bor .item-list .multi-li span {vertical-align: middle;}
.sele_box .item-list li span,.add_bor .item-list li span { border: 0 none;}
.sele_box li .item,.add_bor li .item { border: 1px solid #C0C3C3; border-radius: 2px 2px 2px 2px; height: 14px;line-height: 14px;padding: 1px;}
.sele_box .item-list .del-item,.item-list .del-item { background: url(../../../images/close4.gif) no-repeat scroll 0 0 transparent;cursor: pointer; display: inline-block;height: 12px;line-height: 12px;overflow: hidden;text-decoration: none;vertical-align: middle; width: 15px;}
.sele_box .item-list .del-item:hover,.item-list .del-item:hover{ background-position:0 -12px}

.width710 {width: 540px;}
.z_index {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC;  display: none; left: 60px;  position: absolute;  z-index: 9999;}

.tck_main { padding: 15px 20px; width: 510px;}
.clear {clear: both; font-size: 1px; line-height: 1px;  overflow: hidden;}
.tck_main li { border-bottom: 1px dashed #CCCCCC; display: inline; float: left;  height: 20px; padding:5px 0; width: 95px;}
.tck_main li label {display: inline-block; margin-right: 15px;width: 50px;}
.already_choose { color: #FD1717;}
.form .radio { margin-right: 3px; margin-top: -3px; vertical-align: middle;}
.z_mestab tr td input { color: #757575;}
.textR a{ color:#fff;}

.tck_gray_warn{color:#b5b5b5;margin-bottom:10px;}
/*.tck_main li{height:40px;border-bottom:1px dashed #ccc;float:left;display:inline;width:100%;}
.tck_main li label{margin-right:30px;display:inline-block;width:80px;}
.tck_main li label input{vertical-align:middle;margin-right:2px;}*/
.tck_main .textR .btnGray span{color:#fff;}
.already_choose{color:#FD1717;}
.li_title{font-weight:bold;margin-right:30px;margin-top:15px;}


.ul_classify li{ float:left; display:inline-block; white-space:nowrap; overflow:auto;}

/*选择地区弹框*/
/*.fd-clr:after {clear: both;content: " "; display: block; min-height:24px;}*/
.fd-clr:after {clear: both;content: " "; display: block; height: 0;}
.company-industry-top {width: 696px;}
.company-mod {background-color: #FFFFFF;line-height: 1.5;}
.company-mod .title {background: url(../../../images/bg6.gif) repeat-x scroll 0 0 transparent;border-bottom: 1px solid #C1D2E6;padding: 0 8px;}
.company-mod h3 {color: #333333;float: left;font-size: 14px;font-weight: bold;height: 35px;line-height: 2.5;margin: 0;}
.company-mod .title .close {
    background: url(../../../images/close1.png) no-repeat scroll 0 0 transparent; cursor: pointer; display: block; float: right; height: 22px;
    margin-top: 7px; overflow: hidden;  text-indent: -9999px;width: 21px;}
.company-mod {line-height: 1.5;}

.company-mod .company-industry-pop .industry-info {background-color: #E0EFFF; border: 1px solid #BFCFE6;font-family: ����;font-size: 12px; height: 281px; margin: 6px auto;width: 675px;}

.company-mod .company-industry-pop .industry-info .menu-basic { width: 223px;}
.company-mod .company-industry-pop .industry-info .menu1 {float: left;margin-right: 3px;}
.company-mod .company-industry-pop .industry-info .menu1-sub { background-color: #FFFFFF; border-right: 1px solid #BFCFE6; height: 268px;overflow-x: hidden;
    overflow-y: scroll; padding: 6px 0;}
.company-mod .company-industry-pop .industry-info .has-sub { background-attachment: scroll; background-image: url(../../../images/87847_1446014988.png); background-position: 180px -108px; background-repeat: no-repeat;}
.company-mod .company-industry-pop .industry-info li {border: 1px solid #FFFFFF; cursor: pointer; height: 23px;line-height: 23px; margin: 0 6px; width: 190px;}
.suggest-key {float: left; padding-left: 5px;text-align: left;}
.menu3 , .menu2 , .menu1{ float:left}
.company-mod .company-industry-pop .choosed-show {background-color: #FFF7EC;border: 1px solid #E4CCB2; font-family: ����; font-size: 12px; height: auto;
    margin: 6px auto;padding: 6px 10px;width: 656px;}
	
.company-mod .company-industry-pop .choosed-show li { float: left;margin-right: 6px;white-space: nowrap;}

.company-mod .btn-box { background: none repeat scroll 0 0 #F7F7F7; border-top: 1px solid #EEEEEE; float: none;margin: 0;padding:10px ;width: auto;}
.company-mod .company-industry-pop .industry-info .menu2-sub { background-color: #FFFFFF;  border-left: 1px solid #BFCFE6; border-right: 1px solid #BFCFE6; border-width: 0 1px; height: 268px;  overflow-x: hidden; overflow-y: scroll;  padding: 6px 0;}
.company-mod .company-industry-pop .industry-info .menu3-sub { background-color: #FFFFFF; border-left: 1px solid #BFCFE6; border-width: 0 0 0 1px; height: 268px; overflow-x: hidden;  overflow-y: scroll; padding: 6px 0;}

.company-mod .company-industry-pop .industry-info .check-box {  display: block; float: left; height: 23px; line-height: 23px;  margin: 0 0 0 6px;}
.ml90 { float:left; margin-left:90px;}

/* 关联账户管理 wxm 6.4 */
.yh-h2{line-height:44px; font-size:14px;}
.yh-fb{background:url(../../../images/yh-fb.jpg) no-repeat;width:86px;height:22px;text-align:center;line-height:22px;margin-top:10px;}
a.dr-address{text-decoration:underline;color:#0033cc;padding-right:10px;line-height:30px;position:absolute;top:45px;right:40px;}

.yh-table{border:1px solid #ccc;}
.yh-table th{background:url(../../../images/tag-bg.gif) repeat-x; height:29px; padding-top:5px; font-weight:bold;color:#333333;} 
.yh-table td{border-top:1px solid #ccc; border-right:1px solid #ccc; height:42px;text-align:center;}
.yh-table td.nor { border-right:none;}
.yh-table .select{margin-left:5px;}
.dr-address{ padding-right:10px;line-height:30px; position:absolute;top:48px; _top:54px; right:40px;}

.sqcode { border:1px solid #ccc; background:#FCF2D9; padding:10px;}
.code { width:440px; margin:10px auto;}
.code_cont { padding:10px; border:1px solid #ccc; zoom:1; overflow:hidden;}
.code_cont .number { width:258px; height:36px; background:#eee; border:1px solid #ccc; display:inline-block; text-align:center}
.code_cont .number input {font:100 14px/22px Arial; border:none; background:#eee; margin-top:8px;}

/*20130607*/
.buy_mes .peomes_tab tr th input.inputradio,.buy_mes .peomes_tab tr th input.rad, .buy_mes .peomes_tab tr th input.c1,.tck_main .clear .radio,.a_div .input1 .t_box input,.border1 .t_box input{ border:none;}
/*20130613*/
.sele_box .add_listpo{ position:relative;}
.peomes_tab .t_box li input {margin-top:-2px;}

.border1{border:1px solid #ccc;padding:5px 2px;width:280px;}
.multi-li_after{background-color: #EFEFEF; border: 1px solid #C0C3C3; cursor: default; float: left; height: 14px; line-height: 14px; margin: 1px 2px 1px 0; padding:2px; white-space: nowrap;}
.multi-li_after .del-item{background: url(../../../images/close4.gif) no-repeat scroll 0 0 transparent;cursor: pointer; display: inline-block;height: 12px;line-height: 12px;overflow: hidden;text-decoration: none;vertical-align: middle; width: 15px;}
.in415{ width:415px;}
.multi-li_after a.del-item:hover{background: url(../../../images/close4.gif) no-repeat scroll 0 -12px transparent; }

#supplyInputDiv .addsupply,#businessBuyDiv .addsupply{ float:left; width:510px; _width:525px;}
#supplyInputDiv .addsupply div,#businessBuyDiv .addsupply div{ float: left; width:510px; _width:525px;}
#supplyInputDiv .jadd a,#businessBuyDiv .jadd a{ line-height:24px;}

/* 会员中心新增加样式 6.4 wxm */
.glzhxx { width:720px; border:1px solid #ccc; margin:10px auto; zoom:1; overflow:hidden; clear:both;}
.glzhxx dt { float:left; width:600px; padding:10px 0 10px 10px; text-align:left;}
.glzhxx dd { float:right; width:100px; padding:10px 0 10px 10px; text-align:center;}
.biaoz { width:90px; height:20px; background:url(../../../images/mark_icon2.gif) no-repeat; display:inline-block; vertical-align:middle;}

.mt38 { margin-top:36px;}

.add_kg {text-decoration:none; width:78px; height:24px; display:inline-block; overflow:hidden;}

.lh30 { line-height:30px;}

.gt_bg { background:url(../../../images/tsb.gif) left center no-repeat; padding-top:46px; height:60px; margin:50px auto; display:inline-block; font-size:14px; font-weight:bold; padding-left:110px; color:#333; text-align:left;}
.gt_bg a{ color:#0000ff; text-decoration:underline;}

/* wxm 8.12 */
p.img1 { text-align:center; width:124px; display:inline; float:left;}
p.img1 span{ width:120px; height:120px; border:1px #CCC solid; display:table-cell; vertical-align:middle; text-align:center; *display:block; *font-size:120px; overflow:hidden;}
p.img1 i{ display:block; width:120px; text-align:center;}
p.img1 img { width: expression(this.width > 120 && this.width > this.height ? 120 : true); height: expression(this.height > 120 ? 120 : true); vertical-align:middle; max-width:120px; max-height:120px; margin-left:auto; margin-right:auto;}

p.img2 { text-align:center; width:64px; display:inline; float:left;}
p.img2 span{ width:60px; height:60px; border:1px #CCC solid; display:table-cell; vertical-align:middle; text-align:center; *display:block; *font-size:60px; overflow:hidden;}
p.img2 i{ display:block; width:60px; text-align:center;}
p.img2 img { width: expression(this.width > 60 && this.width > this.height ? 60 : true); height: expression(this.height > 60 ? 60 : true); vertical-align:middle; max-width:60px; max-height:60px; margin-left:auto; margin-right:auto;}

/* wxm 0904 */
.yh-add_l{ float:left; width:130px; height:40px; display:inline-block; text-align:left; padding:0 10px;}
.yh-add_l img { vertical-align:middle;}
.lgInfo span {line-height:30px;}

